@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "@fontsource/oswald/400.css";
@import "@fontsource/oswald/600.css";
@import "@fontsource/oswald/700.css";

@import "@fontsource-variable/roboto";

@theme {
  --font-primary: "Roboto Variable", sans-serif;
  --font-secondary: "Oswald", sans-serif;

  --font-heading: var(--font-secondary);
  --font-body: var(--font-primary);
  --font-button: var(--font-secondary);
  --font-nav: var(--font-secondary);

  --color-primary-light: #7fa7bc;
  --color-primary: #4d7c94;
  --color-primary-dark: #365768;

  --color-secondary-light: #ffda66;
  --color-secondary: #ffc100;
  --color-secondary-dark: #b28700;

  --color-warning-light: #ffb46e;
  --color-warning: #ff8c42;
  --color-warning-dark: #b25d2d;
  --color-warning-contrast: #663300;

  --color-danger-light: #e57373;
  --color-danger: #d64545;
  --color-danger-dark: #8b2e2e;
  --color-danger-contrast: #660000;

  --color-success-light: #81c784;
  --color-success: #4caf50;
  --color-success-dark: #357a38;
  --color-success-contrast: #0d3310;

  --color-info-light: #64b5f6;
  --color-info: #2196f3;
  --color-info-dark: #0b79d0;
  --color-info-contrast: #002b5c;

  --color-neutral-light: #e0e0e0;
  --color-neutral: #9e9e9e;
  --color-neutral-dark: #616161;

  --color-offwhite: #f4f4f4;
  --color-purewhite: #ffffff;

  --color-offblack: #1a1a1a;
  --color-pureblack: #000000;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-sans);
  font-size: var(--text-base);
  color: var(--color-primary);
  background-color: var(--color-offwhite);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  font-family: var(--font-heading);
}
.h1 {
  font-size: var(--text-4xl);
}
.h2 {
  font-size: var(--text-3xl);
}
.h3 {
  font-size: var(--text-2xl);
}
.h4 {
  font-size: var(--text-xl);
}
.h5 {
  font-size: var(--text-l);
}

@media (min-width: theme(--breakpoint-md)) {
  .h1 {
    font-size: var(--text-6xl);
  }
  .h2 {
    font-size: var(--text-5xl);
  }
  .h3 {
    font-size: var(--text-4xl);
  }
  .h4 {
    font-size: var(--text-2xl);
  }
  .h5 {
    font-size: var(--text-xl);
  }
}
