---
import Container from "@components/Container.astro";
import ContentBlocks from "@components/ContentBlocks.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  return allPosts.map((post) => {
    return {
      params: {
        post: post.data.slug,
      },
      props: {
        post,
      },
    };
  });
}

const { post } = Astro.props;
---

<Layout>
  <Header />
  <main>
    <Container class="flex flex-col items-center">
      <h2 class="h2">{post?.data?.title}</h2>
      {
        post?.data?.coverImage && (
          <Image
            src={post.data.coverImage.url}
            alt={post.data.coverImage.altText}
            width={800}
            height={600}
          />
        )
      }
      <ContentBlocks blocks={post?.data?.content || []} />
    </Container>
  </main>
</Layout>
