---
import Container from "@components/Container.astro";
import PostsList from "@components/PostsList.astro";
import StructuredData from "@components/StructuredData.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
  isHomePage
  title="Julien Bruneel - Développeur web"
  description="Découvrez des articles, tutoriels et ressources sur le développement web. Partageons ensemble notre passion pour le code."
>
  <StructuredData
    data={{
      type: "WebSite",
      name: "Julien Bruneel - Développeur web",
      url: "https://julienbruneel.fr",
      description: "Blog dédié au développement web, partage d'expériences et de ressources pour les développeurs front.",
    }}
  />
  <main>
    <Container variant="constrained" class="mt-12 mb-32">
      <PostsList />
    </Container>
  </main>
</Layout>
