---
import Container from "@components/Container.astro";
import PostsList from "@components/PostsList.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout isHomePage>
  <main>
    <Container variant="constrained" class="mt-12 mb-32">
      <PostsList />
    </Container>
  </main>
</Layout>
