---
import Container from "@components/Container.astro";
import RessourcesList from "@components/RessourcesList.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Ressources | Julien Bruneel - Développeur web"
  description="Une collection de ressources utiles pour les développeurs web : outils, librairies, articles et plus encore."
>
  <main>
    <Container variant="constrained" class="mt-12 mb-32">
      <h1 class="h1 mb-8">Ressources</h1>
      <RessourcesList />
    </Container>
  </main>
</Layout>
