---
import ResponsiveMenu from "@components/ResponsiveMenu.astro";
import "@styles/global.css";
import logo from "@images/jbee_logo_dev.png";
---

<header role="banner" class="header flex h-[130px] w-full">
  <h1 class="sr-only">JBee - Blog développement web</h1>
  <a href="/" class="bg-offwhite shadow-primary-dark w-full shadow-md md:hidden">
    <img
      src={logo.src}
      class="mx-auto block h-full w-auto p-4 md:hidden"
      alt="Julien Bruneel développeur web - Retour à l'accueil"
      width="600"
      height="300"
    />
  </a>
  <ResponsiveMenu />
</header>
