---
import Container from "@components/Container.astro";
import ResponsiveMenu from "@components/ResponsiveMenu.astro";
import logo from "@images/logo_jbee_off-white.svg";
import headerImage from "@images/header_image.jpg";
import "@styles/global.css";
import { Image } from "astro:assets";
---

<script>
  import { jarallax } from "jarallax";

  const elements = document.querySelectorAll(".jarallax");
  if (elements.length) {
    jarallax(elements, {});
  }
</script>
<header
  role="banner"
  data-jarallax
  data-speed="0.5"
  class="header jarallax z-50 flex w-full flex-col sm:min-h-[300px] md:min-h-[400px]">
  <Container class="relative my-auto flex flex-1 justify-center">
    <Image
      class="jarallax-img"
      src={headerImage}
      alt=""
      width={1600}
      height={600}
      format="webp"
      loading="eager"
      fetchpriority="high"
      sizes="(max-width: 600px) 480px, (max-width: 1024px) 1024px, 1600px"
    />
    <div class="flex items-center justify-center">
      <h1 class="sr-only">JBee - Blog développement web</h1>
      <Image
        src={logo}
        class="w-full max-w-sm p-8"
        alt="Julien Bruneel développeur web - Retour à l'accueil"
        width={600}
        height={300}
      />
    </div>
  </Container>
  <div class="mt-auto">
    <ResponsiveMenu isHomePage />
  </div>
</header>
