---
import type { Post } from "@content/schemas/posts.schema";
import PostsListItem from "./PostsListItem.astro";

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

{
  posts.length > 0 && (
    <section class="w-full">
      <h2 class="h3 mb-6">Articles similaires</h2>
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        {posts.map((post) => (
          <PostsListItem post={post} />
        ))}
      </div>
    </section>
  )
}
