---
import DesktopMenu from "@components/DesktopMenu";
import MobileMenu from "@components/MobileMenu";
import logo from "@images/jbee_logo_dev.png";

interface Props {
  isHomePage?: boolean;
}
const { isHomePage = false } = Astro.props;

const menuItems = [
  { label: "Blog", path: "/" },
  { label: "Ressources", path: "/ressources" },
  { label: "À propos", path: "/a-propos" },
  { label: "Linkedin", path: "https://www.linkedin.com/in/julienbruneel/", target: "_blank" as const },
];
---

<div class="hidden w-full md:block">
  <DesktopMenu
    menuItems={menuItems}
    isHomePage={isHomePage}
    logoUrl={logo.src}
    logoAlt="JBee Logo"
    client:idle
  />
</div>
<div class="md:hidden">
  <MobileMenu menuItems={menuItems} client:only="react" />
</div>
