---
import DesktopMenu from "@components/DesktopMenu";
import MobileMenu from "@components/MobileMenu";
import clsx from "clsx";
import type { MenuItem } from "../content/api/wordpress/types";

interface Props {
  menuItems: MenuItem[];
}
const { menuItems } = Astro.props;
const navClass = clsx();
---

<div class="hidden h-16 items-end justify-end md:flex">
  <DesktopMenu menuItems={menuItems} client:media="(min-width: 768px)" />
</div>
<div class="md:hidden">
  <MobileMenu menuItems={menuItems} client:media="(max-width: 768px)" />
</div>
