---
import clsx from "clsx";
import type { TocHeading } from "@utils/toc";

interface Props {
  headings: TocHeading[];
}

const { headings } = Astro.props;
---

<nav aria-label="Table des matières" class="font-body text-primary -mb-8 w-full text-sm">
  <details class="group bg-offwhite rounded-lg">
    <summary class="text-primary flex cursor-pointer list-none items-center px-4 py-3 text-base font-bold">
      Dans cet article
      <svg
        class="ml-4 size-5 shrink-0 transition-transform duration-200 group-open:rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
      </svg>
    </summary>
    <ul class="flex flex-col gap-1.5 px-4 pb-4">
      {
        headings.map((heading) => (
          <li class={clsx("hover:underline", { "pl-4": heading.level === 3, "pl-8": heading.level === 4 })}>
            <a href={`#${heading.id}`} class="transition-colors">
              {heading.text}
            </a>
          </li>
        ))
      }
    </ul>
  </details>
</nav>
